@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.header {
  background-image: url(./imgs/poster.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__contents {
  backdrop-filter: blur(4px) saturate(100%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid #fff;
  height: 90vh;
  width: 80vw;
  max-width: 1201px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.herder__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem 1rem 5rem;
  margin-bottom: 2rem;
}

.header__logo {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 4rem;
  letter-spacing: 0.2px;
}

.header__logo a {
  text-decoration: none;
  color: #ffcba4;
}

.theaters {
  font-weight: 300;
}

.header__btn {
  color: #fff;
  background-color: transparent;
  padding: 1.2rem 3rem;
  border-radius: 10px;
  border: #fff 0.5px solid;
  font-size: 1.5rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.header__btn:hover {
  background-color: #fff;
  color: #000;
}

.header__btn:active {
  transform: scale(0.95);
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 50%;
  margin-bottom: 1rem;
}

.movie-imgs {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.125);
  border-radius: 15px;
}

.image-container {
  width: 100%;
  display: flex;
  transform: translateX(0);
  transition: transform 600ms ease-in-out;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}

.icons i {
  font-size: large;
  background-color: transparent;
  padding: 0.6rem;
  border-radius: 20px;
  transition: background-color 300ms ease-in-out;
  border: #fff 1px solid;
  cursor: pointer;
}

.icons i:hover {
  background-color: #000;
  border: none;
}

.fa-arrow-left:active {
  transform: scale(0.95);
}

.fa-arrow-right:active {
  transform: scale(0.95);
}

.desc {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 4rem;
}

/* ///////MOVIE//////////// */
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
}

.movie {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 230px;
  color: #ffcba4;
  position: relative;
  overflow: hidden;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem 2rem 1rem;
}

.movie-title {
  font-size: 1.5rem;
}

.rt {
  position: absolute;
  background-color: transparent;
  border: #fff 2px solid;
  padding: 0.6rem;
  border-radius: 30px;
  top: 15px;
  right: 15px;
  font-size: 1.5rem;
  font-weight: 700;
}

.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 2rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(-101%);
  transition: transform 300ms ease-in-out;
  color: #fff;
}
.ov {
  padding-top: 0.5rem;
  color: #ffcba4;
}
.overview p {
  text-align: justify;
  font-weight: 400;
  font-size: small;
}

.movie-info {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1b3427;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie:hover .overview {
  transform: translateY(0);
}

.form-section {
  background-color: #1b3427;
  padding: 3rem 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search {
  background-color: transparent;
  border: 2px solid #ffcba4;
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  color: #fff;
}

.search::placeholder {
  color: whitesmoke;
}

.search:focus {
  outline: none;
  background-color: #2d8e5a;
}
